<!--suppress HtmlUnknownTarget -->
<div id="menu-accordion"
     data-options="onSelect: openPanel"
     style="width:100%">
    <div title="Calendario de eventos" style="overflow:auto;padding:10px;">
        <a href="/main"
           class="in-menu"
           style="text-align:left; display:none; padding:2px"
           data-options="plain:true, width: '98%', height: '20px'">Calendario</a>
    </div>

    <div title="Entrenamientos" style="overflow:auto;padding:10px;">
        <a href="/entrenamiento/rodadas"
           class="in-menu"
           style="text-align:left; display:none; padding:2px"
           data-options="plain:true, width: '98%', height: '20px'">Rodadas</a>
    </div>
</div>
