{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}
{% block content %}
<div class="container col-8">
    <!-- <div class="card-header"> -->
        <!-- <h4 class="mb-0"><span style="color:rgb(18,123,163);">Registrate Aquí</span></h4> -->
    <!-- </div> -->
    <!-- <form class="fm" method="post" action="/cartas/processar" novalidate style="width:100%;background-color:#EFEFEF;"> -->
        <!-- {% csrf-field %} -->
        <!-- <div class="form-group col-10"> -->
        <!--     <label for="email">Email:</label> -->
        <!--     <input name="email" class="form-control easyui-validatebox" id="email" data-options="required: true,validType:'email'"> -->
        <!-- </div> -->
        <!-- <div class="form-group col-10"> -->
        <!--     <label for="categoria">Categoria:</label> -->
        <!--     <input id="categoria" name="categoria" class="form-control easyui-combobox" data-options="url:'/table_ref/categorias',method:'GET'"> -->
        <!-- </div> -->
        <!-- <div class="form-group col-10"> -->
        <!--   <input id="registrarse" type="submit" class="btn btn-primary" value="Registrate"> -->
        <!-- </div> -->
    <!-- </form> -->
    <div class="table-responsive">
      <table class="table table-light table-striped">
        <thead class="thead-dark">
          <tr>
            <th colspan=4 align='center'>PARTICIPATES SERIAL CICLISTA MEXICALI 2019</th>
          </tr>
          <tr>
            <th>NUM</th>
            <th>NOMBRE</th>
            <th>CATEGORIA</th>
            <th>PUNTOS</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rows %}
          <tr>
            <td>{{ row.no_participacion }}</td>
            <td>{{ row.nombre }}</td>
            <td>{{ row.categoria }}</td>
            <td>{{ row.puntos }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
$('#registrarse').click(function(event) {
    var the_email = $("#email").val();
    if (!the_email) {
        return $('.fm').form('validate');
    }
});
</script>
{% endblock %}
