{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}
{% block content %}
{% csrf-field %}
<div class="easyui-dialog dlg" data-options="closed: true, buttons: '#dlg-buttons'"
                               style="padding:5px;width:70%;">
  <h1>{{ title }}</h1>
  <form class="fm" method="POST" enctype="multipart/form-data" novalidate>
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="carreras_id" name="carreras_id">
    <div class="form-group col-11">
      <label for="email">Email:</label>
      <input id="email" name="email" class="form-control easyui-validatebox" data-options="required:true,validType:'email',readonly:true">
    </div>
    <div class="form-group col-11">
      <label for="categoria">Categoria:</label>
      <input id="categoria" name="categoria" class="form-control easyui-combobox" data-options="url:'/table_ref/categorias',method:'GET',editable:false,readonly:true">
    </div>
    <div class="form-group col-11">
      <label for="nombre">Nombre Completo:</label>
      <input id="nombre" name="nombre" class="form-control easyui-textbox" data-options="required: true">
    </div>
    <div class="form-group col-11">
      <label for="equipo">Equipo:</label>
      <input id="equipo" name="equipo" class="form-control easyui-textbox" data-options="required: true">
    </div>
    <div class="form-group col-11">
      <label for="telefono">Telefono:</label>
      <input id="telefono" name="telefono" class="form-control easyui-textbox type-phone"
                                           data-options="required: false">
    </div>
    <div class="form-group col-11">
      <label for="tutor">Nombre del padre o tutor (En su caso):</label>
      <input id="tutor" name="tutor" class="form-control easyui-textbox" data-options="required: false">
    </div>
    <div class="form-group col-11">
      <p><small>Realizar el Pago en cualquier banco <b>HSBC</b> o directamente en cualquier tienda <b>OXXO</b></small><br/>
      <small>Número de cuenta <b>HSBC: 4910 8960 8405 3810</b></small><br/>
      <small>Realiza el pago de $100.00 pesos (Cien pesos) por el concepto de Inscripción de Serial Ciclista de Mexicali 2019</small><br/>
      <smaall>Conserva el ticket para cualquier aclaración y enviarlo a la direccion de correo: Marcopescador@hotmail.com o al inbox https://www.facebook.com/pescador.marco</small>
      </p>
    </div>
  </form>
</div>
<div id="dlg-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton" id="submitbtn" data-options="iconCls: 'icon-ok'"
                                                                        onclick="defaultGridSaveItem()">Registrar</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls: 'icon-cancel'"
                                                         onclick="closeItem()">Cerrar</a>
</div>
{% endblock %}
{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
var token = $('#__anti-forgery-token').val();
function defaultGridSaveItem() {
    var form = $('.fm');
    var the_email = $('#email').val();
    // Create the request to save the inputted data on the form
    form.form('submit', {
        url: '/cartas/exoneracion/save',
        queryParams: {
            '__anti-forgery-token': token
        },
        onSubmit: function () {
            $("#submitbtn").linkbutton('disable');
            return $(this).form('validate');
        },
        success: function (result) {
            var json = JSON.parse(result);
            // Display errors (if any)
            if (json.error && json.success) {
                // Display error on incomplete submission
                $.messager.show({
                    title: 'Error',
                    msg: json.success + "<br>" + json.error
                });
            } else if (json.error) {
                // Display error on failed submission
                $.messager.show({
                    title: 'Error',
                    msg: json.error
                });
            } else if(json.success) {
                // Display success message on complete submission
                $.messager.show({
                    title: 'Success',
                    msg: json.success
                });
                <!-- window.location.reload(true); -->
                $("#submitbtn").linkbutton('enable');
            }
        }
    });
}
$(document).ready(function() {
    var dialog = $('.dlg');
    var windowHeight;
    var row = {{row|safe}};
    dialog.dialog('open').dialog('center').dialog('setTitle', 'Editar Record');
    windowHeight = $(window).height() - ($(window).height() * 0.2);
    dialog.dialog('resize', {
        height: windowHeight
    }).dialog('center');
    $(".fm").form('load', row);

});

    function closeItem() {
        $('.dlg').dialog('close');
        window.location.href = "/registro";
    }
</script>
{% endblock %}
